body {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    display: block;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.gameBox {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 1300px;

    margin: 0 auto;
}

.game {
    border-radius: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: lightgray;
    padding: 20px;

    .highscores {
        margin-left: 100px;
        margin-right: 100px;
    }

    a {
        width: 200px;
        text-align: center;
        display: inline-block;

        padding: 12px 18px;
        text-decoration: none;
        color: black;

        background: #b1b1b1;
        border-radius: 8px;

        transition: background 0.2s ease;
    }

    a:hover {
        background: #646464;
    }
}

.loginBox {
    padding: 10px;
    border-radius: 20px;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;


    border-radius: 20px;
    background: lightgray;
}

.loginElements {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    #profileImage {
        width: 80px;
        height: auto;
        border-radius: 50%;
    }

    button {
        font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
        border: 0px;
        padding: 12px 18px;
        text-decoration: none;
        color: black;

        background: #b1b1b1;
        border-radius: 8px;

        transition: background 0.2s ease;
    }

    button:hover {
        background: #646464;
    }

}

#submitButton {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    border: 0px;
    padding: 12px 18px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;

    background: #b1b1b1;
    border-radius: 8px;

    transition: background 0.2s ease;
}

.legalInfo {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

#submitButton:hover {
    background: #646464;
}

#returnButton {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    width: 200px;
    text-align: center;

    padding: 12px 18px;
    text-decoration: none;
    color: black;

    background: #b1b1b1;
    border-radius: 8px;

    transition: background 0.2s ease;
}

#returnButton:hover {
    background: #646464;
}

#nameError {
    color: red;
}

#ageError {
    color: red;
}

#loginError {
    color: red;
}